version: '3.1'
services:
  teamspeak:
    image: teamspeak
    restart: unless-stopped
    ports:
      - 9987:9987/udp
      - 10011:10011
      - 30033:30033
    volumes:
      - ${DATA_DIR}:/var/ts3server/
    environment:
      TS3SERVER_LICENSE: accept
